<div class="row  border-bottom banregio-bg-style-1 p-xs  ">
    <div class="col-sm-4">
        <h2 class="m-t">Listado de {{ title }}</h2>
    </div>
    <div class="col-sm-8">
        <div class="form-group search m-t-sm pull-right">
            <input type="text" id="search-users" value="" class="form-control"  placeholder="Busca por client_id">
            <a href="" class="reset-search "><span class="fa fa-close"></span></a>
        </div>
    </div>
    </div>
    <div class="row">
    <table class="table-banregio">
        <thead>
            <tr>
                <th data-order="asc" data-by="name" class="link_to_order">Nombre <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th data-order="asc" data-by="mode" class="link_to_order">Modo <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th data-order="asc" data-by="client_id" class="link_to_order">Client ID <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Usuario </th>
                <th data-order="asc" data-by="authorization_grant_type" class="link_to_order">Authorization type <i class="fa fa-sort" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr data-href="" class="link-to-detail">
                    <td><strong>Test</strong></td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
            </tr>
        </tbody>
    </table>
</div>