<spinner [backgroundColor]="'#ff0000'" spinner="sk-wave"></spinner>
<div class="wrapper wrapper-content">
        <div *ngIf="!isAuthenticated">
                <p>Inicia sesion para acceder a acceder a los datos de tus cuentas</p>
                <p><a href="{{authorizeUrl}}">Go</a></p>
        </div>
        <div *ngIf="isAuthenticated">
                <div class="row">
                        <div class="col-md-3">
                                <div class="card" *ngFor="let account of accounts;">
                                        
                                        <div class="card-content text-center" style="margin:-60px">
                                                <img src="assets/Tarjeta-Sync-2.png" style="transform: rotate(-90deg);" alt="" height="270" width="170">
                                        </div>
                                        <div class="card-content">
                                                <h4>{{account.details['product_name']}}</h4>
                                                <h5>Numero de Tarjeta: {{account.card_number}}</h5>
                                                <h5>Balance: ${{account.balance}}</h5>
                                        </div>
                                </div>
                        </div>
                        
                </div>
                <br>
                <div class="row">
                        <div class="col-md-12">
                                <table class="table-banregio">
                                        <thead>
                                                <tr>
                                                        <th>Id</th>
                                                        <th>Fecha</th>
                                                        <th>Referencia</th>
                                                        <th>Descripcion</th>
                                                        <th>Cantidad</th>
                                                        <th>Categoria</th>
                                                </tr>
                                        </thead>
                                        <tbody >        
                                                <tr *ngFor="let transaction of transactions">
                                                        <td>
                                                                {{transaction.transaction_number}}
                                                        </td>
                                                        <td>
                                                                {{transaction.date}}
                                                        </td>
                                                        <td>
                                                                {{transaction.reference_number}}
                                                        </td>
                                                        <td>
                                                                {{transaction.description}}
                                                        </td>
                                                        <td>
                                                                ${{transaction.amount}}
                                                        </td>
                                                        <td>
                                                                {{transaction.details['category']}}
                                                        </td>
                                                        
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>

        </div>
</div>