<spinner [backgroundColor]="'#ff0000'" spinner="sk-wave"></spinner>
<div class="row  border-bottom banregio-bg-style-1 p-xs  ">
  <div class="col-sm-3">
    <div class="m-t-md">
      <a href="" class="btn-return"> < reservas</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="text-center">
      <h3 class="">Detalle de la reservacion</h3>
      <p><strong>{{ reservation.id }}</strong></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-4">
        <!-- Resumen -->
        <div class="card">
          <div class="card-header border-bottom">
            <h3>Resumen Reservacion</h3>
          </div>
          <div>
            <table class="card-table">
              <tbody>
                <tr class="card-table__tr">
                    <td class="table__td table__label ">Folio</td>
                    <td class="table__td table__label ">{{ reservation.id}}</td>
                </tr>
                <tr class="card-table__tr">
                  <td class="table__td table__label ">Precio</td>
                  <td class="table__td table__label "><span class="text-success"><strong>{{ reservation.price | currency: 'MXN':true }}</strong></span></td>
                </tr>
                <tr class="card-table__tr">
                  <td class="table__td table__label ">Descuento Nanda</td>
                  <td class="table__td table__label "><span class="text-danger"><strong>{{ 0.0 | currency: 'MXN':true }}</strong></span></td>
                </tr>
                <tr class="card-table__tr">
                    <td class="table__td table__label ">Pago</td>
                    <td class="table__td table__label ">{{ reservation.payment_method_place }}</td>
                  </tr>
                <tr class="card-table__tr">
                  <td class="table__td table__label ">Cita</td>
                  <td class="table__td table__label ">{{ reservation.appointment_date | date: "dd/MM/yy" }} {{ reservation.appointment_time}} </td>
                </tr>
                <tr class="card-table__tr">
                  <td class="table__td table__label ">Creacion</td>
                  <td class="table__td table__label ">{{ reservation.created_at | date: "dd/MM/yy HH:mm"}} </td>  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Estatus -->
        <div class="card m-t">
          <div class="card-header border-bottom">
            <h4>Estatus</h4>
          </div>
          <div>
            <table class="card-table">
              <tbody>
                <tr class="card-table__tr">
                  <td class="table__td table__label ">Estatus</td>
                  <td class="table__td table__label "><span class="text-success"><strong>{{ reservation.status }}</strong></span></td>
                </tr>
                <tr class="card-table__tr">
                  <td class="table__td table__label ">Fecha</td>
                  <td class="table__td table__label ">{{ reservation.action_date | date: "dd/MM/yy HH:mm" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>  
      </div>
      <div class="col-lg-8">
        <!-- Salon -->
        <div class="card">
            <div class="card-header border-bottom">
              <h4>Salon</h4>
            </div>
            <div>
              <table class="card-table">
                <tbody>
                  <tr class="card-table__tr">
                      <td class="table__td table__label ">Nombre</td>
                      <td class="table__td table__label ">{{ reservation.salon.name}}</td>
                  </tr>
                  <tr class="card-table__tr">
                      <td class="table__td table__label ">Contacto</td>
                      <td class="table__td table__label ">{{ reservation.salon.email_contact}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Servicio  -->
          <div class="card m-t">
            <div class="card-header border-bottom">
              <h4>Servicio</h4>
            </div>
            <div>
              <table class="card-table">
                <tbody>
                  <tr class="card-table__tr">
                      <td class="table__td table__label ">Nombre</td>
                      <td class="table__td table__label ">{{ reservation.service.name}}</td>
                  </tr>
                  <tr class="card-table__tr">
                      <td class="table__td table__label ">Contacto</td>
                      <td class="table__td table__label ">{{ reservation.service.price | currency: 'MXN':true}}</td>
                  </tr>
                  <tr class="card-table__tr">
                      <td class="table__td table__label ">Duracion</td>
                      <td class="table__td table__label ">{{ reservation.service.duration}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Cliente -->
          <div class="card m-t">
            <div class="card-header border-bottom">
              <h4>Cliente</h4>
            </div>
            <div>
              <table class="card-table">
                <tbody>
                  <tr class="card-table__tr">
                      <td class="table__td table__label ">Nombre</td>
                      <td class="table__td table__label ">{{ reservation.client.email }}</td>
                  </tr>
                  <tr class="card-table__tr">
                      <td class="table__td table__label ">Contacto</td>
                      <td class="table__td table__label ">{{ reservation.client.phone }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
  
</div>